*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cadre{
    align-items: center;
    border:2px solid black;
    position: relative;

}

.container h1{
    font-family: "Roboto Condensed",sans-serif;
    text-align: center;
}
.cadre p{
    font-family: "Roboto Condensed",sans-serif;
    text-align: center;
}



.moncontenu #simp{
    display: block;
    text-align: left;
    border: 2px solid black;
    margin:550px;
    padding:10px;
    position:relative;
}
.moncontenu #simpl{
    display: block;
    text-align: right;
    border: 2px solid black;
    margin: 550px;
    padding: 10px;

}

footer{
    background-color: grey;


}